[Unit]
Description="Remove Nvidia GPU from kernel devices list and enable PM"

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-toggle gpu-off

[Install]
WantedBy=multi-user.target
